* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .content-auto {
        content-visibility: auto;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

#mapa {
    min-height: 400px;
    z-index: 1;
}