* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#mapa {
    min-height: 400px;
    z-index: 1;
}

.hidden {
    display: none;
}

.leaflet-popup-content-wrapper {
    font-size: 13px;
}
